/* Global */

*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{

    /* Colors */

    --color-deepblue: #051e34;
    --color-pillblue: #165bba;

    /* Navbar */
    --navbar-height: 70px;
    --sidebar-width: 60px;
    --sidebar-width-md: 180px;

}

html, body{
    font-family: 'Raleway', sans-serif;
}


/* Colors */

.bg-pillblue{background-color: var(--color-pillblue);}



/* Navbar */

.navbar{
    height: var(--navbar-height);
}

.navbar-brand img{
    max-height: 40px;
}

.ms_search_icon{
    position: relative;
}


/* Main */

.ms_main_wrapper{
    display: flex;
    height: calc(100vh - var(--navbar-height));
}

/* Sidebar */

.ms_fa-fixed{width: 40px;}
.ms_fa-fixed-sm{ width: 20px;}

.ms_sidebar{
    position: relative;
    width: var(--sidebar-width);
    background-color: var(--color-deepblue);
    background-image: url('../img/sidebar-bg.png');
}


.ms_sidebar a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 0px;
    color: white;
    width: 100%;
    transition: all .2s ease;
    border-radius: 8px;
}


.ms_sidebar a:hover{ background-color: rgba(255, 255, 255, .2);}



.ms_sidebar_bottom{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Content */

.ms_content{
    width: calc(100% - var(--sidebar-width));
}

/* Offcanvas */
.offcanvas.offcanvas-end.ms_offcanvas{
    width: 100vw;
}

/* Form */

.form-label.form-required-mark{
   position: relative;
}

.form-label.form-required-mark::before{
    content: '*';
    position: absolute;
    left: -8px;
    top: -4px;
    color: red;
    font-size: 1.5rem;
}

/* Table */

table.table.ms_table td:nth-child(2), 
table.table.ms_table th:nth-child(2),
table.table.ms_table td:nth-child(3),
table.table.ms_table th:nth-child(3){
   display: none;
}

.ms_table_avatar{
    height: 30px;
    border-radius: 50%;
}

/* Breadcrumb */

/* override colore */
.breadcrumb-item + .breadcrumb-item::before {color: white;}

.ms_breadcrumb_item_none::before{display: none;}

.ms_pill_primary{
    background-color: var(--color-pillblue);
    transition: all .3s ease;
}

.ms_pill_primary:hover{
    background-color: var(--color-deepblue);
}

/* Responsive */


/* Breakpoint  SM */
@media screen and (min-width: 576px) {

    table.table.ms_table td:nth-child(2), 
    table.table.ms_table th:nth-child(2),
    table.table.ms_table td:nth-child(3),
    table.table.ms_table th:nth-child(3){
        display: table-cell;
    }

}

/* Breakpoint  MD */
@media screen and (min-width: 768px) {

    .ms_sidebar{
        width: var(--sidebar-width-md);
    }

    .ms_content{
        width: calc(100% - var(--sidebar-width-md));
    }

    .offcanvas.offcanvas-end.ms_offcanvas{
        width: 55vw;
    }


}


/* Breakpoint  XL */
@media screen and (min-width: 1200px) {

    .offcanvas.offcanvas-end.ms_offcanvas{
        width: 45vw;
    }


}